@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply antialiased;
	}
}

html {
	overflow-y: scroll;
	scroll-behavior: smooth;
}

/* Scroll bar beautify */

/* width */

::-webkit-scrollbar {
	width: 4px;
	height: 16px;
}

/* Track */

::-webkit-scrollbar-track {
	background: #fff;
}

/* Handle */

::-webkit-scrollbar-thumb {
	background: #202225;
	border-radius: 100vh;
	/* border: 3px solid #edf2f7; */
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
	background: #a0aec0;
}
